/* DESGIGN AREA */

.design-area {
  min-height: 100vh;
}

.design-area .active {
  transform: none;
}

.nav-pills .nav-link.active {
  background-color: #672fa4;
}

.design-area .active::before {
  background-color: transparent;
  box-shadow: none;
}

.design-area .active::after {
  background-color: transparent;
  box-shadow: none;
}

.design-area .nav-link::before {
  background-color: transparent;
  box-shadow: none;
}

.design-area .nav-link::after {
  background-color: transparent;
  box-shadow: none;
}

.card-header {
  background-color: #171717;
}

.card {
  border: none !important;
}

.color-picker {
  border: none;
  width: 90px;
  height: 25px;
  border-radius: 2px;
}

.color-picker::before {
  content: "Pick Color";
  position: absolute;
  width: 90px;
  height: 25px;
  top: 0;
  left: 0;
  background-color: #672fa4;
  text-align: center;
  border-radius: 2px;
  color: white;
  font-weight: 500;
}

::-webkit-scrollbar-track {
  background: #212529;
}

.design-area h2 {
  background-color: #00ee9f;
  color: white;
  padding: 5px;
}
