body {
  /* color: white; */
  overflow: initial;
}

.nav-link {
  font-size: 0.95rem;
}

.nav-link i.fa {
  font-size: 1.3rem;
  margin: 0 2px;
}

h1 {
  color: inherit;
}

h2 {
  color: inherit;
  text-align: center;
}

.navbar {
  background-color: #f8f8f8;
}

.store-products {
  justify-content: center;
  margin: auto;
}

.store-products .store-product {
  max-width: 225px;
}

.product-img {
  height: 200px;
}

.modal {
  color: black;
}

.modal-body label {
  color: black !important;
}

.rounded {
  border-radius: 5% !important;
}

.cart-icon {
  padding: 0;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.navbar-toggler {
  border: none;
}

@keyframes poping {
  0% {
    transform: scale(1.2);
    color: rgb(0, 197, 39);
  }

  100% {
    transform: scale(0.8);
    color: whitesmoke;
  }
}

.cart-info {
  max-height: 120px;
  border-radius: 8px;
}

.cart-item {
  display: flex;

  background-color: #252c47;
  margin-bottom: 5px;
  border-radius: 8px;
  overflow: hidden;
  max-height: 120px;
}

.cart-item-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-item-info small,
.cart-item-info p {
  line-height: 0.9;
}

.cart-item-info h6 {
  line-height: 1;
  margin-bottom: 3px;
}

.cart-item-info .btn {
  padding: 0.1rem 0.3rem;
}

.cover {
  position: relative;
  display: flex;
}

.cover p,
.cover h1 {
  z-index: 3;
  padding: 0 10px;
  width: fit-content;
}

.cover button {
  z-index: 3;
  margin: 0 10px;
  border-width: 1px;
  border-style: solid;
}

.cover .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.cover .bg-image {
  z-index: 1;
}
