<% if params[:type] == 'increase' %>
<h1 class="text-center mb-3">
  Deposit
</h1>
<% else %>
<h1 class="text-center mb-3">
  Withdraw
</h1>
<% end %>


<div class="max-width">
  <%= render 'form', transaction: @transaction %>
</div>


