<h1 class="text-center mb-3">
  Dashboard  
</h1>
<br>
<div class="row m-1 max-width m-auto justify-content-center">
    <div class="col-12 justify-content-center row py-1 rounded p-0">
      <div class="col-5 text-center p-1 bg-tertiary white rounded mr-2 white">
        <p class="m-0">  Total  </p>
        <h4>$<%= @total_sales %></h4>
      </div>
      <div class="col-5 text-center p-1 bg-secondary white rounded mr-2 white">
        <p class="m-0"> Month Sales </p>
        <h4>$<%= @month_sales %></h4>
      </div>
    </div>
</div>
<br>
<br>

<br>
