<div class="sidebar flex-col w-100">
          <div class="logo">
            <div class="profile-avatar mt-4 mb-1 mx-auto">
              <% @store = Store.find(session[:current_store_id]) %>
              <% if @store && current_user && @store.image %>
              <%= image_tag @store.image , class: "full-img" %>
              <% else %>
              <%= image_tag 'sellex_logo.png' , class: "full-img"  %>
              <% end %>
            </div>
            <% if @store && current_user && @store.image %>
              <h2 class="text-center"><%= Store.find(session[:current_store_id]).name %></h2>
            <% end %>
          </div>
          <% if current_user %>
            <%= render 'layouts/navlinks'%>
          <% else %>
          <div class="flex-col h-100">
          <br />
          <br />
          <h5 class="text-center">Welcome To</h5>
          <h4 class="text-center">Sell<span class="secondary">Ex</span> Systems</h4>
      
          
      </div>
          <% end %>
        </div>